*{padding: 0;margin: 0;box-sizing: border-box;}

:root{
--Box-shadow:rgb(221, 221, 221)
}
.nav-bar-container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px  var(--Box-shadow) ;
    height: 3rem;
    align-items: center;
}
.nav-bar{
    display: flex;
    justify-content: center;
    gap: 5rem;
    font-size: 1.2em;
    align-items: center;
}
.icons-style{
    display: flex;
    flex-direction: column;
}
.lable-style{
    font-size: .8rem;
}
.main-container{
    width: 95%;
    height: 20rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px  var(--Box-shadow) ;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 1rem;
}
.heading{
    font-size: 1.5rem;
    margin: 1rem
}
.img{
    border-radius: 1rem 0 0 1rem; 
    height: auto;
    width: 33.33%;
    overflow: hidden;
}
.img2{
    width: 33.33%;
    overflow: hidden;
    border-radius: 0rem 1rem 1rem 0rem; 
    
}
.container-img1{
    display: flex;
    width: 33.33%;
    overflow: hidden;
    transform: scale(1);
}

img:hover{
    width: 60%;
    height: auto;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container-img{
    display: flex;
    width: 100%; 
    overflow: hidden;
    transition: transform 1sec;
}
.container-img1:hover img{
transform: width(1.1);
width: 100%;
border-radius: 0rem 1rem 1rem 0rem; 
} 

